
.Footer-container {
    background-color: #F8F8F8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    /*-- Flex definition --*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;}

.Footer-divider {
    background-color: #666666;
    width: 100%;
    height: 1px;
}

.Footer-content {
    /*-- Flex definition --*/
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}