
.Navbar-container {
    background-color: #f7f9f9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 0px 6px 6px #d0d3d4;
    /*-- Flex definition --*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*-- Font definition --*/
    color: #424242;
}

.Navbar-left {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar-right {
    margin-right: 2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Navbar-logo {
    font-family: 'Orbitron', sans-serif;
    font-family: 'Audiowide', cursive;
    font-size: 4vh;
}

.Navbar-logo-dev {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5vh;
    color:  #e65100;
}

.Navbar-logo-dicas {
    font-family: 'Audiowide', cursive;
    font-size: 4vh;
    color: #FF0033;
}

.Navbar-div-icon {
    margin-right: 1vw;
    margin-left: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Navbar-def-icon {
    font-size: 5vh;
    color: #008080;
}

.Navbar-separator {
    width: 2vw;
}